{% extends 'mqbaka_home/index.html.twig' %}


{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    {% include "mqbaka_home/header.html.twig" %}
<meta name="viewport" content="widht=device-widht , initial-scale=1.0">    
<link href={{ asset('css/app2.css') }} rel="stylesheet">

<div>
    <h1 class="tritre">CREDIT IMMOBILIER</h1>
    <p class="para">Renégocier son emprunt rapporte plus que jamais</p>
</div>
<div class="grandgrid" >
 <div>
     <img class="image1" src={{ asset('images/Services-renegociation-credit/17.png') }}>
 </div>
 <div>
 <div>
     <p class="gpara">Dans votre intérêt, pensez à renégocier votre prêt à un taux plus avantageux.</p>
</div>
<div class="gridinterne">
    <div>
         <img class="image2" src={{ asset('images/Services-renegociation-credit/Flèche.png') }}>
    </div>
    <div>
        <p class="para1">
            Les taux sont plus bas, il est plus que jamais JUDICIEUX.
        </p>
    </div>
</div>
<div class="gridinterne">
    <div>
         <img class="image3" src={{ asset('images/Services-renegociation-credit/flèche.png') }}>
    </div>
    <div>
        <p class="para1">
            L'operation peut rapporter de très grands profits.
        </p>
    </div>
</div>
 </div>    
</div>
<hr>
<div class="grid-container2">
    <div class="border">
        <div class="text_interne">
            <div class="marge">
                <h3>Vous pouvez racheter ou renégocier</h3>
                    <div class="grid">
                        <div>
                            <img class="nike" src={{ asset('images/Services-renegociation-credit/pngegg(1).png') }}>
                        </div>
                            <p class="para2">
                                Renégocier son prêt immobilier consiste à mettre à jour les conditions de son prêt et le banques en concurrences.
                            </p>
                    </div>
        
                    <div class="grid">
                            <div>
                                <img class="nike" src={{ asset('images/Services-renegociation-credit/pngegg(1).png') }}>
                            </div>
                            <p class="para2">Vous réduisez ainsi le taux d'interêt nominal de votre prêt.</p>
                    </div>
                    <h3 class="soustitre">Nous le faisons pour vous !</h3>
            </div>
        </div>
    </div>
        <div>
            <img class="image" src={{ asset('images/Services-renegociation-credit/07.png') }}>
        </div>
</div>
{% block footer %}
{% include "mqbaka_home/footer.html.twig" %}
{% endblock %}
{% endblock %}