{% extends 'base.html.twig' %}

{% block title %}FEM - Crédit conso{% endblock %}

{% block stylesheets %}
    {# <link href="stylesheets/fonts/stylesheet-01.css" rel="text/css"/> #}
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link href={{ asset('css/credit_conso.css') }} rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
{% endblock %}

{% block body %}

{% block header %}
{% include "mqbaka_home/header.html.twig" %}
{% endblock %}


<div class="im-over-txt">
    <img src={{ asset('images/icon/credit-.png') }} alt="">
    <div class="text-box">
        <div class="textbox-tt">Crédit conso et crédit affecté</div>
        <div class="bullet-arrow">
            <ul class="arrow">
                <li class="item-arrow">
                    Propoosez du financement à vos clients
                </li>
                <li class="item-arrow">
                    Augmentez vos ventes&nbsp;!
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="undestand-title">
    <button class="full-blue dark">Notre produit</button>
    <h3 class="undest-title line">
        Proposer du financement n'a jamais été aussi simple !
    </h3>
</div>

<div class="boxes">
    <div class="boxes-inner">
        <div class="box">
            <img src={{ asset('images/icon/1.png') }} alt="">
            <div class="box-title">Solutions adaptées</div>
            <div class="box-p">
                Proposez à vos clients de financer leur projet avec des mensualités adaptées à leur profil
            </div>
        </div>
        <div class="box">
            <img src={{ asset('images/icon/2.png') }} alt="">
            <div class="box-title">Banques partenaires</div>
            <div class="box-p">
                Accédez aux offres de nos banques partenaires, vos clients pourront choisir la meilleure offre !
            </div>
        </div>
        <div class="box">
            <img src={{ asset('images/icon/4.png') }} alt="">
            <div class="box-title">Signature eléctronique</div>
            <div class="box-p">
                Bénéficiez de la signature électronique des contrats pour plus de rapidité
            </div>
        </div>
        <div class="box">
            <img src={{ asset('images/icon/6.png') }} alt="">
            <div class="box-title">100% en ligne</div>
            <div class="box-p">
                Envoyez la demande de financement directement sur le mobile de votre client
            </div>
        </div>
    </div>
    <a href={{path('page_tarifs')}}><button class="full-blue" onclick="goto__link()">Je m'abonne</button></a>
    <a href={{ path("registration") }} class="invisible" id="l___">Redister</a>
</div>

<div class="undestand">
    <div class="undestand-title">
        <button class="full-blue dark">Les différences</button>
        <h3 class="undest-title">
            Comprenez comment nos produits fonctionnent
        </h3>
    </div>
    <div class="undestand-table">
        <table class="und-table">
            <thead>
                <tr>
                    <th></th>
                    {# <th>Crédit affecté</th> #}
                    <th>Crédit conso</th>
                </tr>
            </thead>
            <tbody>
                <tr id='f-row'>
                    <td>Pour qui ?</td>
                    {# <td>Particuliers et pro</td> #}
                    <td>Particuliers uniquement</td>
                </tr>
                <tr>
                    <td>Types de véhicules</td>
                    {# <td>Véhicules de moins de 10 ans<br/>et obligatoirement en stock</td> #}
                    <td>Tous les types de véhicules,<br/>sans obligation de détention en stock</td>
                </tr>
                <tr>
                    <td>Montant finançables</td>
                    {# <td> Pas de limite de montant</td> #}
                    <td>Jusqu’à 75 000 €</td>
                </tr>
                <tr>
                    <td>Acceptation</td>
                    {# <td> Pré-acceptation sous 48h</td> #}
                    <td>Pré-acceptation instantanée</td>
                </tr>
                <tr>
                    <td>Virement du montant</td>
                    {# <td> Sur le compte du vendeur</td> #}
                    <td>Sur le compte du client</td>
                </tr>
                <tr>
                    <td>Reception du montant</td>
                    {# <td>Réception du montant<br/>à partir de 72h après signature</td> #}
                    <td>Réception du montant sous 8 ou 14 jours<br/>en fonction du délai de rétractation choisi</td>
                </tr>
                <tr>
                    <td>Dossier</td>
                    {# <td>Possibilité de monter le dossier vous même<br/>en direct ou de l’envoyer au client<br/>
                    Accompagnement sur le montage du dossier<br/>car pré-acceptation auprès de Lenbox</td> #}
                    <td>Envoi du formulaire par mail<br/>directement au client<br/>
                        Réponse instantanée (robotique)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="how_done">
    <div class="ilany">
        <div class="simple-rounded">
            <h3 class="rounded">Banques partenaires</h4>
        </div>
        <div class="double-rounded">
            <h4 class="rounded">Crédit conso</h4>
            <h4 class="rounded">Crédit affecté</h4>
        </div>
        <div class="bank-logos">
            <img src={{ asset('images/icon/financo.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/cgi.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/cetelem.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/franfinance.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/cofidis.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/viaxel.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/floa.png') }} alt="cgi-logo">
            <img src={{ asset('images/icon/cofidis.png') }} alt="cgi-logo">
        </div>
        <div class="advantages">
            <h4 class="">AVANTAGES</h4>
            <p class="sub">Les raisons de dire oui</p>
            <div class="check-list">
                <ul class="check-lister">
                    <li class="list-item">Augmentez vos marges avec les commissions</li>
                    <li class="list-item">Gagnez du temps grâce à la prise en charge client</li>
                    <li class="list-item">Sécurisez vos ventes en un temps record</li>
                    <li class="list-item">Accélérez vos délais de vente</li>
                    <li class="list-item">Complétez votre offre de solutions de financement</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ilany slanted-box">
        <div class="slanted-inner">
            <h3 class="slanted-title">
                Comment ça marche&nbsp;?
            </h3>
            <div class="steps">
                <div class="step-number">1</div>
                <div class="step-label">Renseignez les coordonnées du client</div>
                <div class="step-number">2</div>
                <div class="step-label">Il complète ses informations en quelques secondes</div>
                <div class="step-number">3</div>
                <div class="step-label">Le client obtient une réponse instantanée (crédit conso) ou sous 48h (crédit affecté)
                </div>
            </div>
            <div class="blue-shape-thing"></div>
        </div>
    </div>
</div>

<script title="for the register link">
    let link= document.querySelector('#l___');
    function goto__link() {
        link.click();
    }
</script>


{% block footer %}
{% include "mqbaka_home/footer.html.twig" %}
{% endblock %}


{% endblock %}