<link rel="stylesheet" href={{ asset('css/footer.css') }}>
<link rel="stylesheet" href={{ asset('css/accueil.css') }}>

<div class="video-bg">
    	<img class="image6" src={{ asset('images/video-bg.png') }}>
	</div>

	<div class="main">
		<div class="titre2">
			<h1 class="h1">Financez tous types de projets !</h1>
		</div>

		<div class="grid-container6">
			<div class="lecredit">
				<img src={{ asset('images/image_apropos/leCreditPourTous.png') }}>
			</div>
			<div>
				<p class="paraghaphe">Vous avez des projets à réaliser, des ambitions ! <br>
					Nous sommes là pour vous conseiller et vous épauler.
				</p>
				<a href={{path('page_tarifs')}}><button  class="full-blue">Rejoignez-nous!</button></a>
			</div>
		</div>

		<div class="grand_border">
			<div>
				<h3 class="petit_titre">Nos partenaires crédits à la consommation</h3>
			</div>
			<div class="grid1">
				<div>
					<img class="img" src={{ asset('images/image_apropos/cetlem.png') }}> 
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/5.png') }}>
				</div>
				<div>
				<img class="img" src={{ asset('images/image_apropos/franfinance.png') }}> 
				</div>
			</div>
			<div class="grid2">
				<div>
					<img class="img" src={{ asset('images/image_apropos/cofidis.png') }}>
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/floa-bank.png') }}>
				</div>
			</div>
		</div>

		<div class="titre-3">
			<h1 class="ttr">Vos clients n'ont pas obtenu un accord favorable de la part de nos partenaires bancaires?</h1>
		</div>

		<div class="grid3">
			<div>
				<img class="image7" src={{ asset('images/image_apropos/Capture3.png') }}>
			</div>
			<div>
				<div class="bordercapture">
					<p class="paraghaphe2">
						Pensez et proposez à vos clients un rachat, regroupement de crédits pour diminuer et réduire leur taux d'endettement et repartir sur de nouveaux projets !
					</p>
				</div>
			</div>
		</div>
		
		<div class="bordercapture2">
			<p class="paraghaphe2">
				Avec FEM vous ne passez jamais à côté d'une vente, nous recherchons pour vous toutes les solutions possibles et adaptées afin de transformer chacun de vos prospects en clients.
			</p>
		</div>

        <div class="grand_border" id="grand_border_2">
			<div>
				<h3 class="petit_titre">Nos partenaires Rachat, regroupement de Crédits, <br> Prêt Immobilier</h3>
			</div>
			<div class="grid1">
				<div>
					<img class="img" src={{ asset('images/image_apropos/6.png') }}>
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/13.png') }}>
				</div>
				<div>
				<img class="img" src={{ asset('images/image_apropos/7.png') }}>
				</div>
			</div>
            <div class="grid1">
				<div>
					<img class="img" src={{ asset('images/image_apropos/12.png') }}>
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/8.png') }}>
				</div>
				<div>
				<img class="img" src={{ asset('images/image_apropos/10.png') }}>
				</div>
			</div>
			<div class="grid2">
				<div>
					<img class="img" src={{ asset('images/image_apropos/9.png') }}>
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/11.png') }}>
				</div>
			</div>
		</div>

        <div class="ensavoirplus">
			<a href={{path('page_four')}} ><button class="full-blue" style="width: unset">En savoir plus</button></a>
		</div>

		<div class="section">
			
			<p class="para1">
				Prêts pour des solutions, réalisez les projets de vos clients ! <br> Le crédit n'a jamais été aussi simple ?
			</p>
			
			<p class="para2">Plus besoin d'ORIAS pour proposer du financement, F E M s'occupe de tout !</p>
		</div>

		<div class="btn-parti">
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3"> Convertissez vos ventes plus rapidement grâce aux pré-accords instantanés.</p></div>
			</div>
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3">Des accords de principe en quelques secondes</p></div>
			</div>
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3">Equipez votre entreprise du module de financement de F.E.M via votre ordinateur, tablette, mobile. </p></div>
			</div>
			<a href={{path('page_tarifs')}}><button class="full-blue" style="width: unset">C'est parti !</button></a>
		</div>
		
	</div>

<div class="footer">
    <div class="over-flow">
        <div class="three-bloc-thing">
            <div class="bloc-thing">
                <div class="mini-bloc">
                    <h3>Finance et moi</h3>
                    <img src={{ asset('images/orias.png') }} alt="orias-logo">
                </div>
                <div class="mini-bloc">
                    <p>
                        Immatriculée au Registre unique de l'ORIAS sous le numéro 19001295.
                    </p>
                    <ul class="logo-label">
                        <li class="logo-item">
                            <img src={{ asset('images/icon/phone.png') }} alt="" class="icon-item">
                            06 85 41 84 56
                        </li>
                        <li class="logo-item">
                            <img src={{ asset('images/icon/mail.png') }} alt="" class="icon-item">
                            contact@financeetmoi.fr
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bloc-thing">
                <div class="title-bullet slided" id="slided">
                    <h3 class="b-title">Crédit</h3>
                    <ul class="bullets">
                        <li>
                            <a href={{ path("credit_conso") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Crédit conso
                            </a>
                        </li>
                        <li>
                            <a href={{ path("payement-fractionne") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Paiement fractionné
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title-bullet">
                    <h3 class="b-title">Services</h3>
                    <ul class="bullets">
                        <li>
                            <a href={{ path("page_four") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Rachat de crédit
                            </a>
                        </li>
                        <li>
                            <a href={{ path("page_five") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Prêt remeré
                            </a>
                        </li>
                        <li>
                            <a href={{ path("page_six") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Crédit in Fine
                            </a>
                        </li>
                        <li>
                            <a href={{ path("page_seven") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Renégociation de crédit
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bloc-thing">
                <div class="title-bullet slided">
                    <h3 class="b-title">Connexion</h3>
                    <div class="b-sub-title">
                        <a href="{{ path('contacts') }}">Rejoignez-nous !</a> 
                    </div>
                </div>
                <img src={{ asset('images/male-phone.png') }} alt="male-phone">
                <div class="b-buttons">
                    <button class="full-blue" onclick="login__er()">Se connecter</button>
                    <button class="not-so-full-blue" onclick="register__er()">S'inscrire</button>
                </div>
                <div class="invisible">
                    <a href={{ path('app_login') }} id="login-er"></a>
                    <a href={{ path('registration') }} id="register-er"></a>
                </div>
                <script title="for the buttons">
                    function login__er(){
                        document.querySelector('#login-er').click();
                    }
                    function register__er(){
                        document.querySelector('#register-er').click();
                    }
                </script>
            </div>
        </div>
        
    </div>
    <div class="footer-menu">
        <ul class="menu-list-footer">
            <li class="item-footer"><a href={{path('accueil')}}>Accueil</a></li>
            <li class="item-footer"><a href={{path('page_two')}}>A-propos</a></li>
            <li class="item-footer"><a href={{path('assurance_emprunteur')}}>Assurance emprunteur</a></li>
            <li class="item-footer"><a href={{ path('page_tarifs') }}>Tarifs</a></li>
            <li class="item-footer"><a href="https://financeetmoi.simply-move.fr/" target="_blank">Votre concièrgerie</a></li>
        </ul>
    </div>
</div>
    <div class="condition">
        <ul class="condition-list">
            <li class="item-condition"><a href="{{ path('cgu') }}">CGU</a> </li>
            <li class="item-condition"><a href="{{ path('mention') }}">Mentions légales</a> </li>
        </ul>
    </div>