<link rel="stylesheet" href={{ asset('css/footer.css') }}>
<div class="footer">
    <div class="over-flow">
        <div class="three-bloc-thing">
            <div class="bloc-thing">
                <div class="mini-bloc">
                    <h3>Finance et moi</h3>
                    <img src={{ asset('images/orias.png') }} alt="orias-logo">
                </div>
                <div class="mini-bloc">
                    <p>
                        Immatriculée au Registre unique de l'ORIAS sous le numéro 19001295.
                    </p>
                    <ul class="logo-label">
                        <li class="logo-item">
                            <img src={{ asset('images/icon/phone.png') }} alt="" class="icon-item">
                            06 85 41 84 56
                        </li>
                        <li class="logo-item">
                            <img src={{ asset('images/icon/mail.png') }} alt="" class="icon-item">
                            contact@fincanceetmoi.fr
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bloc-thing">
                <div class="title-bullet slided" id="slided">
                    <h3 class="b-title">Crédit</h3>
                    <ul class="bullets">
                        <li>
                            <a href={{ path("credit_conso") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Crédit conso
                            </a>
                        </li>
                        <li>
                            <a href={{ path("payement-fractionne") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Paiement fractionné
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="title-bullet">
                    <h3 class="b-title">Services</h3>
                    <ul class="bullets">
                        <li>
                            <a href={{ path("page_four") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Rachat de crédit
                            </a>
                        </li>
                        <li>
                            <a href={{ path("page_five") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Prêt remeré
                            </a>
                        </li>
                        <li>
                            <a href={{ path("page_six") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Crédit in Fine
                            </a>
                        </li>
                        <li>
                            <a href={{ path("page_seven") }} class="bullet">
                                <img src={{ asset('images/icon/bullet.png') }} alt="">
                                Renégociation de crédit
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bloc-thing">
                <div class="title-bullet slided">
                    <h3 class="b-title">Connexion</h3>
                    <div class="b-sub-title">
                        Rejoignez-nous !
                    </div>
                </div>
                <img src={{ asset('images/male-phone.png') }} alt="male-phone">
                <div class="b-buttons">
                    <button class="full-blue" onclick="login__er()">Se connecter</button>
                    <button class="not-so-full-blue" onclick="register__er()">S'inscrire</button>
                </div>
                <div class="invisible">
                    <a href={{ path('app_login') }} id="login-er"></a>
                    <a href={{ path('registration') }} id="register-er"></a>
                </div>
                <script title="for the buttons">
                    function login__er(){
                        document.querySelector('#login-er').click();
                    }
                    function register__er(){
                        document.querySelector('#register-er').click();
                    }
                </script>
            </div>
        </div>
        
    </div>
    <div class="footer-menu">
        <ul class="menu-list-footer">
            <li class="item-footer"><a href={{path('accueil')}}>Accueil</a></li>
            <li class="item-footer"><a href={{path('page_two')}}>A-propos</a></li>
            <li class="item-footer"><a href={{path('assurance_emprunteur')}}>Assurance emprunteur</a></li>
            <li class="item-footer"><a href={{ path('page_tarifs') }}>Tarifs</a></li>
            <li class="item-footer"><a href="https://financeetmoi.simply-move.fr/" target="_blank">Votre concièrgerie</a></li>
        </ul>
    </div>
</div>
    <div class="condition">
        <ul class="condition-list">
            <li class="item-condition"><a href="{{ path('cgu') }}">CGU</a> </li>
            <li class="item-condition"><a href="{{ path('mention') }}">Mentions légales</a> </li>
        </ul>
    </div>