<link rel="stylesheet" href={{ asset('css/footer.css') }}>
<div class="footer">
    <div class="over-flow">
        <div class="three-bloc-thing">
            <div class="bloc-thing">
                <div class="mini-bloc">
                    <h3>Finance et moi</h3>
                    <img src={{ asset('images/orias.png') }} alt="orias-logo">
                </div>
                <div class="mini-bloc">
                    <p>
                        Immatriculée au Registre unique de l'ORIAS sous le numéro 19001295.
                    </p>
                    <ul class="logo-label">
                        <li class="logo-item">
                            <img src={{ asset('images/icon/phone.png') }} alt="" class="icon-item">
                            06 xxx xx xxx xx
                        </li>
                        <li class="logo-item">
                            <img src={{ asset('images/icon/mail.png') }} alt="" class="icon-item">
                            email@domain.com
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bloc-thing">
                <div class="title-bullet slided" id="slided">
                    <h3 class="b-title">Crédit</h3>
                    <ul class="bullets">
                        <li class="bullet">
                            <img src={{ asset('images/icon/bullet.png') }} alt="">
                            Crédit conso
                        </li>
                        <li class="bullet">
                            <img src={{ asset('images/icon/bullet.png') }} alt="">
                            Paiement fractionner
                        </li>
                    </ul>
                </div>
                <div class="title-bullet">
                    <h3 class="b-title">Services</h3>
                    <ul class="bullets">
                        <li class="bullet">
                            <img src={{ asset('images/icon/bullet.png') }} alt="">
                            Crédit conso
                        </li>
                        <li class="bullet">
                            <img src={{ asset('images/icon/bullet.png') }} alt="">
                            Paiement fractionner
                        </li>
                        <li class="bullet">
                            <img src={{ asset('images/icon/bullet.png') }} alt="">
                            Crédit conso
                        </li>
                        <li class="bullet">
                            <img src={{ asset('images/icon/bullet.png') }} alt="">
                            Paiement fractionner
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bloc-thing">
                <div class="title-bullet slided">
                    <h3 class="b-title">Connexion</h3>
                    <div class="b-sub-title">
                        Rejoignez-nous !
                    </div>
                </div>
                <img src={{ asset('images/male-phone.png') }} alt="male-phone">
                <div class="b-buttons">
                    <button class="full-blue">Se connecter</button>
                    <button class="not-so-full-blue">S'inscrire</button>
                </div>
            </div>
        </div>
        
    </div>
    <div class="footer-menu">
        <ul class="menu-list-footer">
            <li class="item-footer"><a href="#">Accueil</a></li>
            <li class="item-footer"><a href="#">A-propos</a></li>
            <li class="item-footer"><a href="#">Assurance emprunteur</a></li>
            <li class="item-footer"><a href="#">Tarif</a></li>
            <li class="item-footer"><a href="#">Votre concièrgerie</a></li>
        </ul>
    </div>
</div>