<link rel="stylesheet" href={{ asset('css/header.css') }}>
<div class="header-top-bar">
    <div class="logo">
        <img src={{ asset('images/icon/favicon.png') }} alt="logo">
    </div>
    <div class="header-things">
        <div class="contact-stuff">
            <div class="phone">
                <img src={{ asset('images/icon/phone.png') }}  alt="">
                06 xxx xx xxx xx
            </div>
            <div class="mail">
                <img src={{ asset('images/icon/mail.png') }}  alt="">
                email@domain.com
            </div>
        </div>
        <div class="nav-bar">
            <div class="menu-list ham">
                <div class="hamburger">
                    <div class="layer"></div>
                    <div class="layer"></div>
                    <div class="layer"></div>
                </div>
                <div class="cross">
                    <div class="lines"></div>
                    <div class="lines"></div>
                </div>
                <ul class="nav-list mob-thing">
                    <li class="list-item">
                        <a href={{path('accueil')}}>
                            Accueil
                        </a>
                    </li>
                    <li class="list-item">
                        <a href={{path('page_two')}}>
                            A propos
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            Assurance emprunteur
                        </a>
                    </li>
                    <li class="list-item">
                        <div class="hoverable-drop">
                            <div class="hover-main-title">
                                Services <div class="tri-down"></div>
                            </div>
                            <div class="hoverable-content">    
                                <a href={{path('page_four')}}>
                                    Service rachat
                                </a>
                                <a href={{path('page_five')}}>
                                    Service reméré
                                </a>
                                <a href={{path('page_six')}}>
                                    Service in fine
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <a href={{ path('page_tarifs') }}>
                            Tarifs
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            Votre concièrgerie
                        </a>
                    </li>
                    <li class="list-item">
                        <div class="hoverable-drop">
                            <div class="hover-main-title">
                                Compte <div class="tri-down"></div>
                            </div>
                            <div class="hoverable-content">
                                {% if app.user %}
                                <a href="#">
                                    Mon profil
                                </a>
                                <a href={{ path('app_logout') }}>
                                    Déconnexion
                                </a>
                                {% else %}
                                <a href={{ path('app_login') }}>
                                    Connexion
                                </a>
                                <a href={{ path('registration') }}>
                                    Inscription
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="header">
    <div class="hero">
        <img src={{ asset('images/groupe.png') }}  alt="hero">
    </div>
</div>

<script title="the one that shrinks the header">
    let top__bar= document.querySelector('.header-top-bar');
    let header= document.querySelector('.header');

    const scroller= function(event){
        console.log(window.scrollY);
        console.log(header.offsetHeight);
        if(window.scrollY> header.offsetHeight){
            top__bar.classList.add('shrinked');
        } else {
            top__bar.classList.remove('shrinked');
        }
    }

    document.addEventListener('scroll', scroller);
</script>

<script title="menu toggler 1200px and lower">
    let ham= document.querySelector('.hamburger');
    let cro= document.querySelector('.cross');

    let container= document.querySelector('.menu-list');
    let menu= document.querySelector('.nav-list');

    function showMenuList(){
        menu.classList.remove('mob-thing');
        container.classList.add('cro');
        container.classList.remove('ham');
    }

    function hideMenuList(){
        menu.classList.add('mob-thing');
        container.classList.add('ham');
        container.classList.remove('cro');
    }

    ham.addEventListener('click', showMenuList);
    cro.addEventListener('click', hideMenuList);

</script>
