{% extends "base.html.twig" %}

{% block title %}
    FEM - Tarifs
{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="widht=device-widht , initial-scale=1.0">
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link rel="stylesheet" href={{ asset('css/tarifs.css') }}>
    <link href={{ asset('css/accueil.css') }} rel="stylesheet">
    {#<link rel="stylesheet" href={{ asset('css/apropos&accueil.css') } #}
{% endblock %}
{% block body %}
    {% block header %}
        {% include "mqbaka_home/header.html.twig" %}
    {% endblock %}

    <div class="main-content">
        <div class="title-block">
            <h1 class="block">
                Nos offres
            </h1>
            <p class="deal">
                Nous vous offrons une interface, des outils qui sera mis à votre disposition afin de pouvoir chercher la meilleure offre mais aussi le meilleur financement à proposer à vos futurs clients !
            </p>
            <p class="deal">
                C’est seulement grâce à vous qu’ils vont pouvoir réaliser tous leurs projets !
            </p>
        </div>
        <div class="two-columns">
            <div class="ilany">
                <h3 class="ilany-title">Starter</h3>
                <p class="ilany-p"><span id="priceThingStarter">59€</span> HT/<span class="thingType">Mois</span> Agence tête de réseau</p>

                <p class="ilany-p">
                    + 49 €/Mois par utilisateurs supplémentaires
                </p>
                <div class="li-checks">
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Crédit consommation
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Accès à 4 banques - (Seulement particulier)
                        </p>
                    </div>
                    {# <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Crédit affecté (particuliers - professionnels)
                        </p>
                    </div> #}
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Simulateur et module de financement sur mobile, tablette, site Web F E M
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Réponse instantanée.
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Gestion centralisée du point de vente/tête de réseau et de vos sous comptes affiliés
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Suivi de chacun des comptes associés sur votre interface.
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Puis 49 € HT/mois par utilisateurs supplémentaires illimités
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Support par Chat, Email et /ou Tel
                        </p>
                    </div>
                </div>
                <form method="POST" action="{{ path('registration') }}" style="margin-top: auto;">
                    <!-- Starter price -->
                    <input type="hidden" name="price_id" value={{ STARTER_MENSUEL_PRICE_ID }} id="price_id_starter">
                    <button type="submit" class="full-blue">Créer un compte</button>
                </form>
            </div>
            <div class="ilany">
                <h3 class="ilany-title">Essentiel</h3>
                <p class="ilany-p"><span id="priceThing">89</span>€ HT/<span class="thingType">Mois</span>  Agence tête de réseau</p>

                <p class="ilany-p">
                    + 49 €/Mois par utilisateurs supplémentaires
                </p>
                <div class="li-checks">
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Crédit consommation
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Accès à 4 banques - (Seulement particulier)
                        </p>
                    </div>
                    {# <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Crédit affecté (particuliers - professionnels)
                        </p>
                    </div> #}
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Paiement en 4x et 10x de la somme de 50 à 6 000 euros (sous condition d'éligibilité avoir + 1 an d'activité<strong>*</strong>)
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Simulateur et module de financement sur mobile, tablette, site Web F E M
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Réponse instantanée.
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Gestion centralisée du point de vente/tête de réseau et de vos sous comptes affiliés
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Suivi de chacun des comptes associés sur votre interface.
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Puis 49 € HT/mois par utilisateurs supplémentaires illimités
                        </p>
                    </div>
                    <div class="el b">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Support par Chat, Email et/ou Tel
                        </p>
                    </div>
                </div>
                
                <form method="POST" action="{{ path('registration') }}" style="margin-top: auto;">
                    <!-- Essentiel price -->
                    <input type="hidden" name="price_id" value= {{ ESSENTIEL_MENSUEL_PRICE_ID }} id="price_id_essentiel">
                    <button type="submit" class="full-blue">Créer un compte</button>
                </form>
            </div>
        </div>
        <div class="noticer">
            *Sous réserve d'acceptation du dossier de nos partenaires bancaires.
        </div>
        <div class="switcher">
            <div class="switcher-inner">
                <div class="circle on" id='one'>
                    <div class="the-c" data-indic="mensuel" id="c-1"></div>
                    <div class="the-t">
                        Mensuel
                    </div>
                </div>
                <div class="circle" id='two'>
                    <div class="the-c" data-indic="annuel" id="c-2"></div>
                    <div class="the-t">
                        Annuel
                    </div>
                </div>
            </div>

            <div id="sm" style=" display: none;">{{ STARTER_MENSUEL_PRICE_ID }}</div>
            <div id="sa" style=" display: none;">{{ STARTER_ANNUEL_PRICE_ID }}</div>
            <div id="em" style=" display: none;">{{ ESSENTIEL_MENSUEL_PRICE_ID }}</div>
            <div id="ea" style=" display: none;">{{ ESSENTIEL_ANNUEL_PRICE_ID }}</div>
            <script title="for the switcher">
                let sm = document.querySelector('#em');
                let sa = document.querySelector('#ea');
                let em = document.querySelector('#em');
                let ea = document.querySelector('#ea');

                let c1= document.querySelector('#c-1');
                let c2= document.querySelector('#c-2');

                let p1= document.querySelector('#one');
                let p2= document.querySelector('#two');

                c1.addEventListener('click', switchTo);
                c2.addEventListener('click', switchTo);

                function switchTo(event){
                    if(event.target.getAttribute('data-indic')== 'mensuel'){
                        p1.classList.add('on');
                        p2.classList.remove('on');
                        document.querySelector('#priceThingStarter').innerHTML= "59";
                        document.querySelector('#priceThing').innerHTML= "89";
                        document.querySelector('#price_id_starter').value = sm.innerText;
                        document.querySelector('#price_id_essentiel').value = em.innerText; 
                        Array.from(document.querySelectorAll('.thingType')).forEach((item) => {item.innerHTML = "Mois"});
                    } else {
                        p2.classList.add('on');
                        p1.classList.remove('on');
                        document.querySelector('#priceThingStarter').innerHTML= "590";
                        document.querySelector('#priceThing').innerHTML= "890";
                        document.querySelector('#price_id_starter').value = sa.innerText;
                        document.querySelector('#price_id_essentiel').value = ea.innerText;
                        Array.from(document.querySelectorAll('.thingType')).forEach((item) => {item.innerHTML = "An"});
                    }
                }
            </script>
        </div>
    </div>

    {% include "mqbaka_home/footer.html.twig" %}

{% endblock %}