{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}


{% block stylesheets %}
    {# <link href="stylesheets/fonts/stylesheet-01.css" rel="text/css"/> #}
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link href={{ asset('css/tarifs.css') }} rel="stylesheet">
    {% block addstyle %}
    {% endblock %}
{% endblock %}
{% block body %}
    {% include "mqbaka_home/header.html.twig" %}

    <div class="main-content">
        <div class="title-block">
            <h1 class="block">
                Nos offres
            </h1>
            <p class="deal">
                Lorem ipsum dolor sit<br/>
                Amet consectetur adipisicing elit. Animi, ad.
            </p>
        </div>
        <div class="two-columns">
            <div class="ilany">
                <h3 class="ilany-title">Starter</h3>
                <p class="ilany-p">59€ HT/Mois Agence tête de reseau</p>
                <div class="li-checks">
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                </div>
                <button class="full-blue">Créer un compte</button>
            </div>
            <div class="ilany">
                <h3 class="ilany-title">Essentiel</h3>
                <p class="ilany-p">89€ HT/Mois Agence tête de reseau</p>
                <div class="li-checks">
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                    <div class="el">
                        <img src={{ asset('images/icon/check.svg') }} alt="">
                        <p class="el-p">
                            Lorem ipsum dolor (sit amet consectetur adipisicing elit).
                        </p>
                    </div>
                </div>
                <button class="full-blue">Créer un compte</button>
            </div>
        </div>
    </div>

    {% include "mqbaka_home/footer.html.twig" %}

{% endblock %}