<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title of the PDF</title>
        <style>
            div[a]{
            width: 500px;
            margin: auto;
            max-width: 95vw;
            padding: 1em 2em;
            background: #1c9fd922;
            }

            [a]h1{
            text-align: center;
            color: #203c76;
            }

            [c]{
            background: white;
            border: 1px dashed black;
            padding: 1em;
            font-family: monospace;
            display: grid;
            grid-template-columns: max-content auto;
            column-gap: .5em;
            row-gap: .8em;
            }

            [a] [c] span{
            position: relative;
            }

            [a] [c] span:nth-child(2n){
            font-weight: 800;
            text-align: right;
            }

            [a] [c] span:nth-child(2n+1)::after{
            content:":";
            position: absolute;
            right: 0; top: 50%;
            transform: translate(100%, -50%);
            }

            [a] [c] span:nth-child(2n+1){
            padding-right: 1em;
            }

            .lalala {
                color:block
            }
        </style>
    </head>
    <body>
        <div style="text-align:center; margin-top: 50px; margin-bottom: 50px;">
            <img src={{imagePath}} alt="" style="width:auto, height:auto;">
        </div>
        <div a>
            <h1>Facture FEM</h1>
            <p>Nom : {{ client.nom }}</p>
            <p>Prenom : {{ client.prenom }}</p>
            <p>Montant HT : {{ facture.montantHT }} €</p>
            <p>TVA : {{ facture.pourcentageTva }}%</p>
            <p>Montant TTC : {{ facture.montantTtcFacture }}€</p>
            <p>Etat de la facture : {{ facture.factureAcquitee ? 'facture acquitée':'facture non acquitée '}}</p>
        </div>
    </body>
</html>