<h1>facture FEM :</h1>
<p>Nom: {{ client.nom }}</p>
<p>Prénom: {{ client.prenom }}</p>
<p>Montant HT : {{ facture.montantHT }} €</p>
<p>Tva : 20%</p>
<p>Montant TTC : {{ facture.montantTtcFacture }} €</p>
<p>{{ facture.factureAcquitee ? 'facture acquitée':'facture non acquitée '}}</p>