<meta name="viewport" content="widht=device-widht , initial-scale=1.0">
<link rel="stylesheet" href={{ asset('css/apropos&accueil.css') }}>
<div class="video-bg">
     <img class="image6" src={{ asset('images/video-bg.png') }}>
</div>
<div class="titre2">
    <h1>Financez tous types de projets !</h1>
</div>

<div class="grid-container6">
    <div>
        <img class="finacer" src={{ asset('images/image_apropos/finacer.png') }}>
    </div>
    <div>
        <p class="paraghaphe">Vous avez des projets à réaliser, des ambitions !
Nous sommes là pour vous conseiller et vous
épauler.</p>
<buttonv  class="button1" href="#">Rejoignez-nous!</button>
    </div>
</div>

<div class="grand_border">
    <div>
        <h3 class="petit_titre">Nos partenaires crédits à la consommation</h3>
    </div>
    <div class="grid1">
        <div>
           <img class="imggrid" src={{ asset('images/image_apropos/cetlem.png') }}> 
        </div>
        <div>
            <img class="imggrid" src={{ asset('images/image_apropos/5.png') }}>
        </div>
        <div>
           <img class="imggrid" src={{ asset('images/image_apropos/franfinance.png') }}> 
        </div>
         <div>
             <img class="imggrid" src={{ asset('images/image_apropos/cofidis.png') }}>
        </div>
        <div>
             <img class="imggrid" src={{ asset('images/image_apropos/floa-bank.png') }}>
        </div>
    </div>
   <!-- <div class="grid2">
        <div>
             <img src={{ asset('images/image_apropos/cofidis.png') }}>
        </div>
        <div>
             <img src={{ asset('images/image_apropos/floa-bank.png') }}>
        </div>
    </div>-->
</div>
<div>
    <h1 class="tt">Vos clients n'ont pas obtenu un accord favorablede la part de nos partenaires bancaires?</h1>
</div>
<div class="grid3">
    <div>
        <img class="image7" src={{ asset('images/image_apropos/Capture3.png') }}>
    </div>
    <div>
    <div class="bordercapture">
        <p class="paraghaphe2">Pensez et proposez à vos clients un rachat,regroupement de crédits
pour diminuer et réduire leur taux d'endettement et
repartir sur de nouveaux projets !</p>
    </div>
    </div>
</div>
<div class="bordercapture2">
        <p class="paraghaphe2">Pensez et proposez à vos clients un rachat,regroupement de crédits
pour diminuer et réduire leur taux d'endettement et
repartir sur de nouveaux projets !</p>
    </div>
    <button class="button2 full-blue" style="width: unset">En savoir plus</button>
<div class="section">
    <h1 class="tt">Nos partenaires Rachat, regroupement de Crédits,<br> Prêt Immobilier</h1>
    <p class="para1">Prêts pour des solutions, réalisez les projets de vos clients !
Le crédit n'a jamais été aussi simple ?</p>
<p class="para2">Plus besoin d'ORIAS pour proposer du
financement. F E M s'occupe de tout !</p>
</div>
<div class="btn-parti">
    <div class="gridcheck">
        <div> <img src={{ asset('images/icon/check.svg') }}></div>
        <div> <p class="para3"> Convertissez vos ventes plus rapidement grâce aux pré-accords instantanés.</p></div>
    </div>
    <div class="gridcheck">
        <div> <img src={{ asset('images/icon/check.svg') }}></div>
        <div> <p class="para3">Des accords de principe en quelques secondes</p></div>
    </div>
    <div class="gridcheck">
        <div> <img src={{ asset('images/icon/check.svg') }}></div>
        <div> <p class="para3">Equipez votre site en ligne du module de financement de F.E.M </p></div>
    </div>
    <button class="full-blue" style="width: unset">C'est parti !</button>
</div>
<div class="gridimage">
    <div><img class="img" src={{ asset('images/image_apropos/6.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/13.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/7.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/12.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/8.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/10.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/9.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/11.png') }}></div>
</div>
<!--<div class="gridimage">
    <div><img class="img" src={{ asset('images/image_apropos/12.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/8.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/10.png') }}></div>
    
</div>
<div class="gridimage">
    <div><img class="img" src={{ asset('images/image_apropos/9.png') }}></div>
    <div><img class="img" src={{ asset('images/image_apropos/11.png') }}></div>
    <div></div>
</div>--->