{% extends 'base.html.twig' %}

{% block title %}Email de récupération envoyé !!{% endblock %}


{% block body %}
<link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
<link href={{ asset('css/colors.css') }} rel="stylesheet">
<link href={{ asset('css/reset.css') }} rel="stylesheet">
    <div class="thingsHere">
        <p>
            Si votre email est relié à un compte, un email un lien pour réinitialiser votre mot de passe a été envoyé à votre email.<br/>
            Le lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>Si vous n'avez reçu aucun email, vérifiez votre dossier spams ou <a href="{{ path('app_forgot_password_request') }}">réessayez.</a></p>
    </div>
{% endblock %}
