{% extends 'reset_password/skeleton.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block modal %}
    <h1 style="text-align: center; color: var(--dark-01);">Reset your password</h1>

    {# {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }} #}
    <div class="reset-modal">
                <h3 class="reset-title">Récuperation de compte</h3>
                <h5 class="explain">Entrez votre nouveau mot de passe</h5>
                {{ form_start(resetForm) }}
                    <div class="inputs-re">
                        {{ form_row(resetForm.plainPassword) }}
                    </div>
    
                    <p class="further-ex">
                        <strong>•</strong> S'il ne s'agit pas de votre ordinateur, utilisez une fenêtre de navigation privée pour vous connecter.
                    </p>
                    <div class="buttons__">
                        <a href={{ path("registration") }} class="link__to__register">Créer un compte</a>
                        <button class="valid-btn">Valider</button>
                    </div>
                {{ form_end(resetForm) }}
            </div>
{% endblock %}
