<head>
	<meta charset="utf-8">
	<title>Page d'ajout</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div style="margin-top: 40px;">
    <span class="ajout" style="font-size: 17px;"><i class="fa fa-plus-circle" style="font-size: 30px;"></i><p style="font-size: 20px;">Ajouter</p> 
    </span><br><br>

    {{ form_start(form)}}
        {% if type == "sub_1JZwrwBW8SyIFHAgPJO5Ba7i" %}
            {{ form_widget(form.nom)}} 
            {{ form_widget(form.prenom)}} 
            {{ form_widget(form.email)}} 
            {{ form_widget(form.telMobile)}} 
            {{ form_widget(form.nomEntreprise)}} 
            {{ form_widget(form.address)}} 
            {{ form_widget(form.telFixe)}} 
            {{ form_widget(form.siren)}}
        {% endif %}
        {# <input type="hidden" name="uservd" value="{{ userVd }}"> #}
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}} 
</div>