<head>
	<meta charset="utf-8">
	<title>Page d'ajout</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div style="margin-top: 40px;">
    <span class="ajout" style="font-size: 17px;"><i class="fa fa-plus-circle" style="font-size: 30px;"></i><p style="font-size: 20px;">Ajouter</p> 
    </span><br><br>
    {% for message in app.flashes('danger') %}
        <div style="text-align: center">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div style="text-align: center">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form)}}
    {{ form_widget(form.nom)}} 
            {{ form_widget(form.prenom)}} 
            {{ form_widget(form.email)}} 
            {{ form_widget(form.nomEntreprise)}} 
            {{ form_widget(form.address)}} 
            {{ form_widget(form.telMobile)}}
            {{ form_widget(form.telFixe)}} 
            {{ form_widget(form.siren)}}
            {# $abonnement->getPriceID() === 'price_1JZs5tBW8SyIFHAgHT2LqoM7' || $abonnement->getPriceID() === 'price_1JZs9wBW8SyIFHAgwZgSId5i' #}
            {% if  type.priceId == "price_1JZs3OBW8SyIFHAgl3MjuPtc" or type.priceId == "price_1JZs71BW8SyIFHAgnS6niVw1"  %}
                {% do form.identityProofFile.setRendered() %}
                {% do form.type_abonnement.setRendered() %}
                {% do form.extraitRCSFile.setRendered() %}
                {% do form.ribFile.setRendered() %}
                {% else %}
                    {{ form_widget(form.identityProofFile)}}
                    {% do form.type_abonnement.setRendered() %}
                    {{ form_widget(form.extraitRCSFile)}}
                    {{ form_widget(form.ribFile)}}
            {% endif %}


        {# {% if type.label == "essentiel_mensuel" or type.label == "essentiel_annuel" %}
            {{ form_widget(form.nom)}} 
            {{ form_widget(form.prenom)}} 
            {{ form_widget(form.email)}} 
            {{ form_widget(form.nomEntreprise)}} 
            {{ form_widget(form.address)}} 
            {{ form_widget(form.telMobile)}}
            {{ form_widget(form.telFixe)}} 
            {{ form_widget(form.siren)}}
            {{ form_widget(form.identityProofFile)}}
            {{ form_widget(form.type_abonnement)}}
            {{ form_widget(form.extraitRCSFile)}}
            {{ form_widget(form.ribFile)}}
        {% elseif type.label == "starter_mensuel" or type.label == "starter_annuel"  %}
            {{ form_widget(form.nom)}} 
            {{ form_widget(form.prenom)}} 
            {{ form_widget(form.email)}} 
            {{ form_widget(form.nomEntreprise)}} 
            {{ form_widget(form.address)}} 
            {{ form_widget(form.telMobile)}}
            {{ form_widget(form.telFixe)}} 
            {{ form_widget(form.siren)}}
            {% do form.identityProofFile.setRendered() %}
            {% do form.type_abonnement.setRendered() %}
            {% do form.extraitRCSFile.setRendered() %}
            {% do form.ribFile.setRendered() %}
        
        {% endif %} #}
        {# <input type="hidden" name="uservd" value="{{ userVd }}"> #}
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}} 
</div>