
<meta name="viewport" content="widht=device-widht , initial-scale=1.0">
<link href={{ asset('css/list.css') }} rel="stylesheet">
<link href={{ asset('css/admin-addStyle.css') }} rel="stylesheet">


<div class="middle-content">
 	<h2 class="tête" f><img class="image" src={{ asset('images/icon/list-d.svg') }}>Liste des agences</h2>

	{# <div class="bordur">
		<div class="grid">
			<div>
				<p class="paragraphe">Nom de l'agence : </p>
			</div>
			<div> #}
			{# {{ name }}  #}
			{# </div>
		</div>
		<div class="grid">
			<div>
				<p class="paragraphe">Abonnement : </p>
			</div>
			<div> #}
			{# {{ firstname }} #}
			{# </div>
		</div>
	</div> #}

	<div class="table-ext-wrapper">
		<div class="table-agences">
			<table class="agence">
				<thead>
					<tr>
						<th>Agence</th>
						<th>Adresse</th>
						<th>Type d'abonnement</th>
						<th>Sous-comptes actifs</th>
						<th>Accès au paiement fractionné</th>
						<th>Fichiers</th>
					</tr>
				</thead>
				<tbody>
					{% for client in clients %}
						<tr>
							<td>{{ client.nom }}</td>
							<td>{{ client.address }}</td>
							<td>
								{# {% if client.abonnement.statutPaiement == 1 %}
									Paiement effectué
									{% else %}
										Paiement non effectué
								{% endif %} #}
								{{ client.abonnement.typeAbonnement ? client.abonnement.typeAbonnement.label : 'Aucun type d\'abonnement' }}
							</td>
							<td>
								{% set i = 0 %}
								{% for sous in client.sousComptes %}
									{% set i = i + 1 %}
								{% endfor %}
								{{ i }}
							</td>
							<td>
								{% include "admin/components/switch.html.twig" with { attr : client.id , act: client.actif } only %}
								{# {{(client.actif)?'toggle-button active':'toggle-button'}} #}
							</td>
							<td>
							{# {{ "http.." ~ client.om }} #}
							{# {{ client.abonnement.typeAbonnement.label }} #}
							{% if client.abonnement.typeAbonnement %}
								{% if client.abonnement.typeAbonnement.priceID == "price_1JZs5tBW8SyIFHAgHT2LqoM7" %}
									{% if client.statutEntreprise == "Entreprise individuelle (EI)" %}
										<a href={{urlIdentity ~ client.identityProof}} target="_blank" title="Carte d'identité">Cin</a>
										<a href={{urlRib ~ client.rib}} target="_blank" title="RIB">Rib</a>
										<a href={{urlExtrait_rcs ~ client.extraitRCSname}} target="_blank" title="Extrait KBIS">Kbis</a>
										<a href={{urlLiasseFiscal ~ client.liasseFiscale}} target="_blank" title="LegalStatus">SARL</a>
									{% else %}
										<a href={{urlIdentity ~ client.identityProof}} target="_blank" title="Carte d'identité">Cin</a>
										<a href={{urlRib ~ client.rib}} target="_blank" title="RIB">Rib</a>
										<a href={{urlExtrait_rcs ~ client.extraitRCSname}} target="_blank" title="Extrait KBIS">Kbis</a>
										<a href={{urlLiasseFiscal ~ client.liasseFiscale}} target="_blank" title="Liasse Fiscale">FIS</a>
										<a href={{urlLegalStatus ~ client.legalStatus}} target="_blank" title="LegalStatus">SARL</a>	
									{% endif %}
								{% else %}
									Pas de pièces jointes
								{% endif %}
							{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>


	{# {% for client in clients %}
		<div class="bordur">
			<div class="grid">
				<div>
					<p class="paragraphe">Nom de l'agence : </p>
				</div>
				<div>
					{{ client.nom }}
				</div>
			</div>
			<div class="grid">
				<div>
					<p class="paragraphe">Abonnement : </p>
				</div>
				<div>
				{% if client.abonnement.statutPaiement == 1 %}
					Payé
					{% else %}
						Non payé
				{% endif %}
				</div>
			</div>
			<div class="grid">
				<div>
					<p class="paragraphe">Accès au paiement fractionné :</p>
				</div>
				{% include "admin/components/switch.html.twig" with { attr : client.id , act: client.abonnement.statutPaiement } only %}
			</div>
		<style>
			[f]{
				display: flex;
				gap: .7em;
			}
		</style>
		</div>
	{% endfor %} #}

	{# {% for client in clients %}
		{{client.nom}}
		<br/>
		<br/>
		{% for sous in client.sousComptes %}
			{{sous.nom}}
		<br/>
		{% endfor %}

		------------
	{% endfor %} #}

</div>
{% include "admin/components/switch-script.html.twig" %}

		