<head>
	<meta charset="utf-8">
	<title>Ajouter un sous-compte</title>
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
</head>
<div style="margin-top: 40px;">
    <span class="ajout"><img src={{ asset('images/icon/plus-d.svg') }} alt="">Ajouter un sous-compte</span><br><br>
    {% for message in app.flashes('danger') %}
        <div style="text-align:center; border: 1px solid; border-color: blue; border-radius: 20px; color: #265baa; font-size: 18px; padding: 1em; width: 460px; margin:auto; margin-bottom: 20px;">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form)}}
        {{ form_widget(form.nom)}} 
        {{ form_widget(form.prenom)}} 
        {{ form_widget(form.email)}} 
        {{ form_widget(form.telMobile)}} 
        {{ form_widget(form.nomEntreprise)}} 
        {{ form_widget(form.addresseEntreprise)}} 
        {# {{ form_widget(form.addresse)}}  #}
        {{ form_widget(form.codePostal)}} 
        {{ form_widget(form.ville)}} 
        {{ form_widget(form.password)}}
        
        <input type="hidden" name="uservd" value="{{ userVd }}">
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}} 
</div>