<head>
	<meta charset="utf-8">
	<title>Page d'ajout</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div style="margin-top: 40px;">
    <span class="ajout" style="font-size: 17px;"><i class="fa fa-plus-circle" style="font-size: 30px;"></i><p style="font-size: 20px;">Ajouter</p> 
    </span><br><br>
    <!-- form action="">
        <input type="text" name="" value="" placeholder="Nom"><br>
        <input type="text" name="" value="" placeholder="Prénom"><br>
        <input type="email" name="" value="" placeholder="Adresse e-mail"><br>
        <input type="tel" name="" value="" placeholder="Numéro mobile"><br>
        <input type="text" name="" value="" placeholder="Nom de l'entreprise"><br>
        <input type="text" name="" value="" placeholder="Adresse de l'entreprise"><br>
        <input type="text" name="" value="" placeholder="Code postale"><br>
        <input type="text" name="" value="" placeholder="Adresse"><br>
        <input type="text" name="" value="" placeholder="Ville"><br>
        <input type="password" name="" value="" placeholder="Mot de passe"><br>
        <input type="submit" value="VALIDER" id="valider">
    </form -->
    {{ form_start(form)}}
        {{ form_widget(form.nom)}} 
        {{ form_widget(form.prenom)}} 
        {{ form_widget(form.email)}} 
        {{ form_widget(form.telMobile)}} 
        {{ form_widget(form.nomEntreprise)}} 
        {{ form_widget(form.addresseEntreprise)}} 
        {{ form_widget(form.codePostal)}} 
        {{ form_widget(form.addresse)}} 
        {{ form_widget(form.ville)}} 
        {{ form_widget(form.password)}}
        
        <input type="hidden" name="uservd" value="{{ userVd }}">
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}} 
</div>