{% extends 'mqbaka_home/index.html.twig' %}

{% block title %}Tableau de bord - Sous-comptes
{% endblock %}

{% block body %}
	{# <link href= {{ asset("/css/admin.css") }} rel="stylesheet"> #}
	<link href= {{ asset("/css/admin-dash.css") }} rel="stylesheet">
    <link href={{ asset('css/list.css') }} rel="stylesheet">

    <div class="dash-outliner">
        {% include "admin/admin-header.html.twig" %}
        <div class="dash-container sidebared">
            {% include "admin/components/sidebar.html.twig" %}

            {% if usersAccounts %}
            <div class="sub-accounts">
                <h2 class="tête" f><img class="image" src={{ asset('images/icon/list-d.svg') }}>Sous-comptes</h2>

                {% set i=0 %}
                
                {% for userAccount in usersAccounts %}
                    
                    <div class="bordur" onclick="move(event);" id={{ "b-" ~ i }}>
                        <div class="grid">
                            <div>
                                <p class="paragraphe">Nom : </p>
                            </div>
                            <div>
                            {{ userAccount.nom }}
                            </div>
                        </div>
                        <div class="grid">
                            <div>
                                <p class="paragraphe">Prénom : </p>
                            </div>
                            <div>
                            {{ userAccount.prenom }}
                            </div>
                        </div>
                        <div class="grid">
                            <div>
                                <p class="paragraphe">Ville : </p>
                            </div>
                            <div>
                            {{ userAccount.ville }}
                            </div>
                        </div>
                        <div class="grid">
                            <div>
                                <p class="paragraphe">Code Postal : </p>
                            </div>
                            <div>
                            {{ userAccount.codePostal }}
                            </div>
                        </div>
                        <div class="sousCompteLink pointer">
                            <a href={{ path("modif_sous_compte", {id: userAccount.id}) }} class="pointer" id={{ "l-" ~ i}}>Editer le sous-compte <img class="link-pen" src={{ asset('images/icon/edit-pen-d.svg') }}></a>
                        </div>
                        <a href={{ path("saffiche", {id: userAccount.id}) }} class="invisible linktoIt" id={{ "l-" ~ i}}>Voir le sous-compte</a>
                    </div>
                    {% set i= i+1 %}
                    
                {% endfor %}

                <a href={{ path("sajout") }} class="create-sous">
                    <img src={{ asset('images/icon/plus.svg') }} alt="">
                    Créer un sous-compte
                </a>

            </div>
            {% else %}
            <div class="none-is-here">
                Vous n'avez pas encore de sous-comptes actifs.
                <a href={{ path("sajout") }} class="create-sous">
                    <img src={{ asset('images/icon/plus.svg') }} alt="">
                    Créer un sous-compte
                </a>
            </div>
            {% endif %}

        </div>
    </div>
    <div class="mobile-ham" onclick="toggleSideMobile()">
        <div class="ham-line"></div>
        <div class="ham-line"></div>
        <div class="ham-line"></div>
    </div>
    <script title="for the sidebar to show and collapse">

        function toggleSide(){
            let side= document.querySelector(".dash-container");
            side.classList.toggle('sidebared');
        }

        function toggleSideMobile(){
            let side= document.querySelector('.sidebarMenu');
            let ham= document.querySelector('.mobile-ham');

            ham.classList.toggle('expanded');
            side.classList.toggle('expanded');
        }
    </script>
    <script title="for the clickable bunches">
        function move(event) {
            let the_id= event.target.getAttribute("id").slice(2);
            let the_link= document.querySelector(".linktoIt#l-" + the_id);
            the_link.click();
        }
    </script>

{% endblock %}