<head>
	<meta charset="utf-8">
	<title>Editer un sous-compte</title>
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
</head>
<div style="margin-top: 40px;">

<span class="ajout"><img src={{ asset('images/icon/edit-pen-d.svg') }} alt="">Editer un sous-compte</span><br><br>
    {{ form_start(form)}}
        {{ form_widget(form.nom)}} 
        {{ form_widget(form.prenom)}} 
        {{ form_widget(form.email)}} 
        {{ form_widget(form.telMobile)}} 
        {{ form_widget(form.nomEntreprise)}} 
        {{ form_widget(form.addresseEntreprise)}} 
        {{ form_widget(form.codePostal)}} 
        {{ form_widget(form.addresse)}} 
        {{ form_widget(form.ville)}} 
        
        <input type="hidden" name="uservd" value="{{ userVd }}">
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}}
    <div style="text-align:center; margin-bottom:40px;">
        <a href="{{ path('sous_compte_modif_password', {id: souscompte.id}) }}">Modifier le mot de passe du sous-compte</a>
    </div>
</div>