<head>
	<meta charset="utf-8">
	<title>Editer un sous-compte</title>
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
</head>
<div style="margin-top: 40px;">
    <span class="ajout"><img src={{ asset('images/icon/edit-pen-d.svg') }} alt="">Editer un sous-compte</span><br><br>
    <!-- form action="">
        <input type="text" name="" value="" placeholder="Nom"><br>
        <input type="text" name="" value="" placeholder="Prénom"><br>
        <input type="email" name="" value="" placeholder="Adresse e-mail"><br>
        <input type="tel" name="" value="" placeholder="Numéro mobile"><br>
        <input type="text" name="" value="" placeholder="Nom de l'entreprise"><br>
        <input type="text" name="" value="" placeholder="Adresse de l'entreprise"><br>
        <input type="text" name="" value="" placeholder="Code postale"><br>
        <input type="text" name="" value="" placeholder="Adresse"><br>
        <input type="text" name="" value="" placeholder="Ville"><br>
        <input type="password" name="" value="" placeholder="Mot de passe"><br>
        <input type="submit" value="VALIDER" id="valider">
    </form -->
    {{ form_start(form)}}
        {{ form_widget(form.nom)}} 
        {{ form_widget(form.prenom)}} 
        {{ form_widget(form.email)}} 
        {{ form_widget(form.telMobile)}} 
        {{ form_widget(form.nomEntreprise)}} 
        {{ form_widget(form.addresseEntreprise)}} 
        {{ form_widget(form.codePostal)}} 
        {{ form_widget(form.addresse)}} 
        {{ form_widget(form.ville)}} 
        
        <input type="hidden" name="uservd" value="{{ userVd }}">
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}} 
</div>