<head>
	<meta charset="utf-8">
	<title>Page d'ajout</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/stylenirina.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href={{ asset("css/souscomptepasswordmodif.css") }}>
</head>
<div style="margin-top: 40px;">
    <span class="ajout" style="font-size: 17px;"><i class="fa fa-pencil" style="font-size: 30px;"></i><p style="font-size: 20px;">Modification du mot de passe du sous-compte géré par {{ sousCompte.nom ~ " " ~ sousCompte.prenom }} </p> 
    </span><br><br>

    {% for message in app.flashes('success') %}
        <div class="souscomptepasswordmodifflash">
            {{ message }}
        </div>    
    {% endfor %}

    {{ form_start(form)}}
        {{ form_widget(form.password)}}
        <input type="submit" value="VALIDER" id="valider"> 
    {{ form_end(form)}} 
</div>