{% extends "base.html.twig" %}

{% block title %}
    Finance_et_moi
{% endblock %}

{% block stylesheets %}
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link rel="stylesheet" href={{ asset('css/accueil.css') }}>
    {#<link rel="stylesheet" href={{ asset('css/apropos&accueil.css') } #}
{% endblock %}
{% block body %}
    {% block header %}
        {% include "mqbaka_home/header.html.twig" %}
    {% endblock %}

    <div class="main">
		<div class="titre">
			<div class="titre-image">
		        <img src="images/rp.png" alt="dame">
			</div>
		    <div class="titre-content">
		        <p>
		            Vous êtes un professionnel artisan, commerçant, TPE,PME ?<br>
			        Quel que soit votre secteur d'activité et la taille de votre
			        entreprise, offrez à vos clients des solutions de financements
			        et dynamisez vos ventes, nos offres sur mesures sont
			        conçues pour vous !
			        Financez les projets de vos clients.
		        </p>
		    </div>
	    </div>
	    <hr>
        <div class="titre-2">
            <div class="titre-2-contenu">
                Démarquez-vous, offrez un nouveau service pour vous différencier !
            </div>
        </div>
	    <div class="intro">
		    <div class="prendmamain txt-gauche">
				<div class="prendmamain-container">
					<div class="avt-titre">
						Des moyens adaptées
					</div>
					<div class="p-contenu">
						<ul>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									Equipez votre entreprise, vos points de ventes, agences, équipes commerciales de moyens de financements
								</span>
							</li>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									Développez votre chiffre d'affaires, ne passez plus à coté d'une vente faute d'un manque de budget, liquidités, trésorerie de la part de vos prospects
								</span>
							</li>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									Grâce à nos outils vous trouvez tous les moyens: <br> besoins financiers pour concrétiser, finaliser vos ventes et réaliser les futurs projets de vos clients.
								</span>
							</li>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									La solution FEM est faite pour vous.
								</span>
							</li>
						</ul>
					</div>
				</div>
		    </div>
		    <div class="image img-drt">
		        <img id="img-drt1" src="images/moyen.png" alt="hero">
		    </div>
	    </div>

		<hr>

		<div class="intro">
		    <div class="image">
		        <img src="images/02.2.png" id="adapte" alt="hero">
		    </div>
		    <div class="prendmamain">
				<div class="prendmamain-container" id="adapte-contenue">
					<div class="avt-titre">
						Des mensualités adaptées
					</div>
					<div class="p-contenu">
						<ul>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									Proposez des financements en respectant le budget de vos clients grâce à des mensualités adaptées à leur situation. 
								</span>
							</li>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									Accédez à nos différents partenaires bancaires et de produits financiers au même endroit.
								</span>
							</li>
							<li>
								<span>
								<img id="check" src="images/icon/check.png">
							</span>
								<span>
									Des offres de 50 € à 100 000 €, de 3 à 84 mois.
								</span>
							</li>
						</ul>
					</div>
				</div>
		    </div>
	    </div>

	    <hr>
		
		<div class="intro">
		    <div class="prendmamain txt-gauche" id="simpa">
				<div class="prendmamain-container">
					<div class="avt-titre">
						Processus simplifiés
					</div>
					<div class="p-contenu">
						<ul>
							<li>
								<span>
									<img id="check" src="images/icon/check.png">
								</span>
								<span>
									Profitez d'une expérience 100% en ligne et sans tracas ! 
								</span>
							</li>
							<li>
								<span>
									<img id="check" src="images/icon/check.png">
								</span>
								<span>
									Nous nous occupons de toute la partie administrative pendant que vous vous focalisez sur le cœur de votre activité et générez des ventes.
								</span>
							</li>
						</ul>
					</div>
				</div>
		    </div>
		    <div class="image">
		        <img src="images/processus.png" id="img-drt" alt="hero">
		    </div>
	    </div>

        <hr>
		
		<div class="intro">
		    <div class="image">
		        <img src="images/charge.png" id="charge" alt="hero">
		    </div>
		    <div class="prendmamain">
				<div class="prendmamain-container" id="charge-contenue">
					<div class="avt-titre">
						Prises en charge
					</div>
					<div class="p-contenu">
						<ul>
							<li>
								<span>
									<img id="check" src="images/icon/check.png">
								</span>
								<span>
									Nous nous occupons de tout. FEM est le partenaire incontournable qui aide et favorise le developpement des entreprises
								</span>
							</li>
							<li>
								<span>
									<img id="check" src="images/icon/check.png">
								</span>
								<span>
									Recevez directement le virement sur votre compte dès la livraison du projet de votre client 
								</span>
							</li>
							<li>
								<span>
									<img id="check" src="images/icon/check.png">
								</span>
								<span>
									Depuis leur mobile, vos prospects, clients ont le loisir de choisir la meilleur offre du marché parmi nos différents partenaires bancaires
								</span>
							</li>
						</ul>
					</div>
				</div>
		    </div>
	    </div>

        <hr>

        <div class="fem-avt">
            <div class="avt-row">
                <div class="avt-1">
                    <div class="avt-titre">
                        La fin des contraintes juridiques
                    </div>
                    <div class="avt-contenue">
                        Plus besoin d'ORIAS pour proposer du financement <br>
                        FEM a les agréments pour vous et s'occupe de tous !
                    </div>
                </div>
                <div class="avt-1">
                    <div class="avt-titre">
                        Des accords de principe en quelques secondes
                    </div>
                    <div class="avt-contenue">
                        Convertissez vos ventes plus rapiddement grâce aux pré-accords de principe instantanés.
                    </div>
                </div>
                <div class="avt-1">
                    <div class="avt-titre">
                        Une equipe dévouée 
                    </div>
                    <div class="avt-contenue">
                        Pour toute question, des conseillers réactifs et sympathiques sont joignables par chat, SMS ou téléphone <br>
                        Nous vous accompagnons à chaque étape devos financements
                    </div>
                </div>
            </div>
        </div>
        
	</div>

	<div class="video-bg">
    	<img class="image6" src={{ asset('images/video-bg.png') }}>
	</div>

	<div class="main">
		<div class="titre2">
			<h1>Financez tous types de projets !</h1>
		</div>

		<div class="grid-container6">
			<div class="lecredit">
				<img src={{ asset('images/image_apropos/leCreditPourTous.png') }}>
			</div>
			<div>
				<p class="paraghaphe">Vous avez des projets à réaliser, des ambitions !
					Nous sommes là pour vous conseiller et vous épauler.
				</p>
				<a href={{path('page_tarifs')}}><button  class="full-blue">Rejoignez-nous!</button></a>
			</div>
		</div>

		<div class="grand_border">
			<div>
				<h3 class="petit_titre">Nos partenaires crédits à la consommation</h3>
			</div>
			<div class="grid1">
				<div>
					<img class="img" src={{ asset('images/image_apropos/cetlem.png') }}> 
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/5.png') }}>
				</div>
				<div>
				<img class="img" src={{ asset('images/image_apropos/franfinance.png') }}> 
				</div>
			</div>
			<div class="grid2">
				<div>
					<img class="img" src={{ asset('images/image_apropos/cofidis.png') }}>
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/floa-bank.png') }}>
				</div>
			</div>
		</div>

		<div class="titre-3">
			<h1 class="ttr">Vos clients n'ont pas obtenu un accord favorable de la part de nos partenaires bancaires?</h1>
		</div>

		<div class="grid3">
			<div>
				<img class="image7" src={{ asset('images/image_apropos/Capture3.png') }}>
			</div>
			<div>
				<div class="bordercapture">
					<p class="paraghaphe2">
						Pensez et proposez à vos clients un rachat,regroupement de crédits pour diminuer et réduire leur taux d'endettement et repartir sur de nouveaux projets !
					</p>
				</div>
			</div>
		</div>
		
		<div class="bordercapture2">
			<p class="paraghaphe2">
				Pensez et proposez à vos clients un rachat,regroupement de crédits pour diminuer et réduire leur taux d'endettement et repartir sur de nouveaux projets !
			</p>
		</div>

		<div class="ensavoirplus">
			<a href={{path('page_four')}} ><button class="full-blue" style="width: unset">En savoir plus</button></a>
		</div>
		<div class="section">
			<h1 class="tt nos1">
				Nos partenaires Rachat, regroupement de Crédits, <br> Prêt Immobilier
			</h1>
			
			<p class="para1">
				Prêts pour des solutions, réalisez les projets de vos clients ! Le crédit n'a jamais été aussi simple ?
			</p>
			
			<p class="para2">Plus besoin d'ORIAS pour proposer du financement. F E M s'occupe de tout !</p>
		</div>

		<div class="btn-parti">
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3"> Convertissez vos ventes plus rapidement grâce aux pré-accords instantanés.</p></div>
			</div>
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3">Des accords de principe en quelques secondes</p></div>
			</div>
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3">Equipez votre site en ligne du module de financement de F.E.M </p></div>
			</div>
			<button class="full-blue" style="width: unset">C'est parti !</button>
		</div>
		<div class="gridimage">
			<div><img class="img" src={{ asset('images/image_apropos/6.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/13.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/7.png') }}></div>
		</div>
		<div class="gridimage">
			<div><img class="img" src={{ asset('images/image_apropos/12.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/8.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/10.png') }}></div>
			
		</div>
		<div class="gridimage">
			<div><img class="img" src={{ asset('images/image_apropos/9.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/11.png') }}></div>
			<div></div>
		</div>
	</div>

    {% block footer %}
        {% include "mqbaka_home/footer.html.twig" %}
    {% endblock %}
{% endblock %}