{% extends 'mqbaka_home/index.html.twig' %}


{% block title %}FEM - A propos{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

{% block header %}
{% include "mqbaka_home/header.html.twig" %}
{% endblock %}

<meta name="viewport" content="widht=device-widht , initial-scale=1.0">
    <link href={{ asset('css/stylesheet.css') }} rel="stylesheet">
    <link href={{ asset('css/colors.css') }} rel="stylesheet">
    <link href={{ asset('css/accueil.css') }} rel="stylesheet">
    <link href={{ asset('css/app.css') }} rel="stylesheet">
<div class="grid-container">
    <div class="img-grids">
        <img class="image0" src={{ asset('images/image_apropos/Capture2.png') }}>
    </div>
    <div class="titre">
        <div>
            <h1 class="h1">Avec FEM, votre rentabilité est Dynamisé, la compétitivité de votre entreprise et de vos équipes sont démultipliées</h1>
        </div>
    </div>
</div>
<hr>
<div class="grid-container2">
    <div class="border">
        <div class="text_interne">
            <div class="marge">
                <h3>Augmentez vos ventes avec nos solutions de<br>financement sur mesures</h3>
                <div class="grid">
                    <div>
                        <img src={{ asset('images/icon/checked.png') }}>
                    </div>
                    <p class="para">Offrez à vos clients des mensualités qui correspondes à leur budget en queleques secondes</p>
                </div>
    
                <div class="grid">
                    <div>
                        <img src={{ asset('images/icon/checked.png') }}>
                    </div>
                    <p class="para">Des offres de 50€ à 100 000€, de 3 à 84mois.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="img-grids">
        <img class="image" src={{ asset('images/image_apropos/03.png') }}>
    </div>
</div>
<hr>
{# <div class="grid-container3">
    <div>
        <img class="image2" src={{ asset('images/image_apropos/15.png') }}>
    </div>
    <div class="border2">
        <div class="text_interne2">
            <div class="marge">
                <h3>Créditaffectés</h3>
                <div>
                    <p class="para">Le crédit affecté est accordé par un établissement de crédit ou
                        une banque.Il est utilisé pour un achat déterminé : un bien
                        mobilier,crédit automobile, pour financer une télévision
                        voyage ou toutes autres prestations.Il est souvent contracté
                        directement sur le lieu de vente. Le crédit obtenu doit servir
                        uniquement à payer le bien ou la prestation définie. Si le
                        contrat de vente ne se réalise pas (désistement de votre part...),
                        l'annulation du contrat de crédit sera automatique,même si
                        rétablissement a accepté de vous l'accorder.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>#}
<div class="grid-container4">
    <div class="img-grids" style="display: flex;">
        <img class="image3" src={{ asset('images/image_apropos/04.png') }}>
    </div>
    <div class="border">
        <div class="text_interne">
            <div class="marge">
                <h3>Prêt personnel</h3>
                <div>
                    <p class="para">Le prêt personnel permet de disposer librement de la somme
                    empruntée : aucun justificatif d’utilisation n’est à fournir. Ce
                    prêt peut permettre de financer intégralement un ou plusieurs
                    achat(s) (voiture, équipement ménager, etc) ou de répondre à
                    un besoin de trésorerie.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="grid-container5">
    <div class="border3">
        <div class="text_interne2">
            <div class="marge">
                <h3>Des paiements en 4 ou en l0 fois <br> de 50 jusqu'à 6 000 euros.</h3>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">Aucune pièce justificative demandée</p>
                </div>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">Des paiements en quelques secondes.</p>
                </div>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">Le meilleur taux d'acceptation du marché.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="img-grids">
        <img class="image4" src={{ asset('images/image_apropos/14.png') }}>
    </div>
</div>
<hr>
<div class="grid-container">
    <div class="img-grids">
        <img class="image5" src={{ asset('images/image_apropos/05.png') }}>
    </div>
    <div class="border4">
        <div class="text_interne3">
            <div class="marge">
                <h3>Vous ne vous occupez de rien, n'avez pas à remplir les dossiers</h3>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">Votre partenaire F E M via notre plateforme s'occupe de toute la partie administravtive.</p>
                </div>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">Nous sommes enregistrés à l'ORIAS et habilités à gérer et traiter les dossiers de financements pour vous.</p>
                </div>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">
                        Envoyez une demande de financement à votre client depuis votre interface n'a jamais été aussi simple, en 30 secondes et le tour est joué !
                    </p>
                </div>
                <div class="grid">
                    <div>
                        <img src="/images/icon/checked.png">
                    </div>
                    <p class="para">Nous sommes votre finance manager.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="video-bg">
    	<img class="image6" src={{ asset('images/video-bg.png') }}>
	</div>

	<div class="main">
		<div class="titre2">
			<h1 class='h1'>Financez tous types de projets !</h1>
		</div>

		<div class="grid-container6">
			<div class="lecredit">
				<img src={{ asset('images/image_apropos/leCreditPourTous.png') }}>
			</div>
			<div>
				<p class="paraghaphe">Vous avez des projets à réaliser, des ambitions ! <br>
					Nous sommes là pour vous conseiller et vous épauler.
				</p>
				<a href={{path('page_tarifs')}}><button  class="full-blue">Rejoignez-nous!</button></a>
			</div>
		</div>

		<div class="grand_border">
			<div>
				<h3 class="petit_titre">Nos partenaires crédits à la consommation</h3>
			</div>
			<div class="grid1">
				<div>
					<img class="img" src={{ asset('images/image_apropos/cetlem.png') }}> 
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/5.png') }}>
				</div>
				<div>
				<img class="img" src={{ asset('images/image_apropos/franfinance.png') }}> 
				</div>
			</div>
			<div class="grid2">
				<div>
					<img class="img" src={{ asset('images/image_apropos/cofidis.png') }}>
				</div>
				<div>
					<img class="img" src={{ asset('images/image_apropos/floa-bank.png') }}>
				</div>
			</div>
		</div>

		<div class="titre-3">
			<h1 class="ttr">Vos clients n'ont pas obtenu un accord favorable de la part de nos partenaires bancaires?</h1>
		</div>

		<div class="grid3">
			<div>
				<img class="image7" src={{ asset('images/image_apropos/Capture3.png') }}>
			</div>
			<div>
				<div class="bordercapture">
					<p class="paraghaphe2">
						Pensez et proposez à vos clients un rachat, regroupement de crédits pour diminuer et réduire leur taux d'endettement et repartir sur de nouveaux projets !
					</p>
				</div>
			</div>
		</div>
		
		<div class="bordercapture2">
			<p class="paraghaphe2">
				Avec FEM vous ne passez jamais à côté d'une vente, nous recherchons pour vous toutes les solutions possibles et adaptées afin de transformer chacun de vos prospects en clients.
			</p>
		</div>

		<div class="ensavoirplus">
			<a href={{path('page_four')}} ><button class="full-blue" style="width: unset">En savoir plus</button></a>
		</div>
		<div class="section">
			<h1 class="tt nos1 h1">
				Nos partenaires Rachat, regroupement de Crédits, <br> Prêt Immobilier
			</h1>
			
			<p class="para1">
				Prêts pour des solutions, réalisez les projets de vos clients ! <br> Le crédit n'a jamais été aussi simple ?
			</p>
			
			<p class="para2">Plus besoin d'ORIAS pour proposer du financement, F E M s'occupe de tout !</p>
		</div>

		<div class="btn-parti">
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3"> Convertissez vos ventes plus rapidement grâce aux pré-accords instantanés.</p></div>
			</div>
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3">Des accords de principe en quelques secondes</p></div>
			</div>
			<div class="gridcheck">
				<div> <img src={{ asset('images/icon/check.svg') }}></div>
				<div> <p class="para3">Equipez votre entreprise du module de financement de F.E.M via votre ordinateur, tablette, mobile. </p></div>
			</div>
			<a href={{path('page_tarifs')}}><button class="full-blue" style="width: unset">C'est parti !</button></a>
		</div>
		<div class="gridimage">
			<div><img class="img" src={{ asset('images/image_apropos/6.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/13.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/7.png') }}></div>
		</div>
		<div class="gridimage">
			<div><img class="img" src={{ asset('images/image_apropos/12.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/8.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/10.png') }}></div>
			
		</div>
		<div class="gridimage">
			<div><img class="img" src={{ asset('images/image_apropos/9.png') }}></div>
			<div><img class="img" src={{ asset('images/image_apropos/11.png') }}></div>
			<div></div>
		</div>
	</div>

{% block footer %}
{% include "mqbaka_home/footer.html.twig" %}
{% endblock %}

{% endblock %}