{% extends 'base.html.twig' %}

{% block title %}Hello AdminajoutController!
{% endblock %}

{% block body %}
	<h1>Ajout Admin</h1>
	{{form_start(formAdmin)}}
	<div class="form-group">
		<label for="">Nom</label>
		{{form_widget(formAdmin.nom)}}

	</div>
	<div class="form-group">
		<label for="">Email</label>
		{{form_widget(formAdmin.email)}}

	</div>
	<div class="form-group">
		<label for="">Password</label>
		{{form_widget(formAdmin.password)}}

	</div>
	<button type="submit">AJOUTER</button>
	{{form_end(formAdmin)}}
{% endblock %}
