{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex-line">
        <a href="{{ path('type_abonnement_index') }}" class="create-sous"><div class="chevleft"></div> Retour à la liste</a>
        <button class="create-sous">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
